@model VacITPageModel;

@{
    ViewData["Title"] = "Mijn Vacatures";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <tr>
            <th>Publicatiedatum</th>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Technologie</th>
            <th>Niveau</th>
            <th>Stad</th>
        </tr>

        @foreach (JobOffer jobOffer in Model._jobOffers)
        {
            <tr>
                <td>@jobOffer.DateOfPublication</td>
                <td> <a asp-controller="Page" asp-action="Vacature" asp-route-id="@jobOffer.Id">@jobOffer.Name</a></td>
                <td>@jobOffer.Description</td>
                <td>@jobOffer.Technology</td>
                <td>@jobOffer.Level</td>
                <td>@jobOffer.City</td>
                <td><a class="btn btn-primary" asp-controller="Page" asp-action="EditVacature" asp-route-id="@jobOffer.Id">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Page" asp-action="DeleteVacature" asp-route-id="@jobOffer.Id">Delete</a></td>
            </tr>
        }
    </table>
</div>