@model VacITPageModel;

@{
    ViewData["Title"] = "Openstaande Vacatures";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <tr>
            <th>Naam</th>
            <th>Titel</th>
            <th>Beschrijving</th>
            <th>Technologie</th>
            <th>Niveau</th>
            <th>Stad</th>
            <th>Datum van publicatie</th>
            <th>Werkgever</th>
        </tr>

        @foreach (JobOffer jobOffer in Model._jobOffers)
        {
            <tr>
                <td> <a asp-controller="Page" asp-action="Vacature" asp-route-id="@jobOffer.Id">@jobOffer.Name</a></td>
                <td>@jobOffer.Title</td>
                <td>@jobOffer.Description</td>
                <td>@jobOffer.Technology</td>
                <td>@jobOffer.Level</td>
                <td>@jobOffer.City</td>
                <td>@jobOffer.DateOfPublication</td>
                <td>@jobOffer.VacITEmployer.Name</td>
            </tr>
        }
    </table>
</div>
